.categories ul{
    display:flex;
    justify-content: space-evenly;
    list-style: none;
}
.categories li{
    background-color: rgb(239, 239, 239);
    padding: 7px 10px;
    border-radius: 8px;
}
.categories a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.categories{
    text-decoration: none;
    color: black;
    font-size: 18px;
}