.navbar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0px 25px;

}
.searchbar input{
height:40px;
width:400px;
border-radius: 50px;
border: 1px solid gainsboro;
font-size: 18px;
padding-left: 20px;
}
.searchbar input:focus{
   outline: none;
   border:1px solid rgb(190, 190, 229)
}
.useroptions{
    width:200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.useroptions h4{
    border-radius: 100px;
    padding: 10px;
    background-color: red;
    color: white;
}
